.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 15px;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  background-color: #222;
  border-bottom: 1px solid black;
  a {
    color: white;
    text-decoration: none;;
  }
}