.game-of-life {
    text-align: center;
    padding: 15px;
    
    .game-of-life-row {
        line-height: 0;
    }
    
    .game-of-life-cell {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        display: inline-block;
        background-color: #666;
        
        &.alive {
            background-color: yellow;
        }
    }

    .control-buttons .btn {
        margin: 5px;
    }
}