.kanban-card {
    background-color: #555;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: #f3f3f3;
}

.add-kanban-card {
    color: #f3f3f3;
    padding: 15px;
    margin: 10px;
    border: 1px solid white;
}