#loading-screen {
    text-align: center;
}

#strategery-main-container{
    background-color: #222;
    padding: 15px;
    border: 1px solid black;
    
    #player-list {
        .player-name {
            display: block;
        }

        .player-name::before {
            content: "- "
        }
    }
}

.board-row {
    display: flex;
    width: 300px;
    margin: auto;
}

.tic-tac-toe-item {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    font-size: 50px;
    text-align: center;
}